@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,300,400italic");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");

body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol, li, dl, dt, dd, form, a, fieldset, input, th, td {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

body {
  font-family: Roboto;
  font-size: 16px;
  line-height: 28px;
}

header {
  background: #EFB758;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1, header h1 a{
  display: inline-block;
  font-family: "Verdana";
  font-size: 28px;
  font-weight: 500;
  color: rgb(224, 221, 213);
  text-decoration: none;
}

header h1 a:hover {
  text-decoration: underline;
}
h2{
  color: #EFB758;
  padding-bottom: 20px;
}
h3{
  color:#EFB758;
  font-style: italic;
  padding-bottom: 20px;
  text-align: left;
}
h4{
  color: #183A5A;
}
.grid {
  background: #183A5A;
  padding: 20px;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 25% auto;
  margin: auto;
  height: calc(150vh - 160px);
}
.menuContent{
  background: #183A5A;
  height: 700px;  
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  margin-left: 0px;
  margin-right: auto;
}
.backMenu{
  text-decoration: none;
  color: white;
  padding-left: 20px;
  padding-right: 30px;
  font-size: 20px;
}
.edit{
  color: white;
  font-size: 20px;
}
.new{
  color: #E2DBC9;
  font-style: italic;
}
.eventList {
  background: #183A5A; 
}

.eventList h2 {
  color: #ffffff;
  font-size: 20px;
  padding: 8px 6px 10px;
}

.eventList h3{
  color: #f8f8f8;
  padding: 8px 6px 10px;
}

.eventContainer {
  color: white;
  font-size: 15px;
  line-height: 35px;
}

.eventContainer h2 {
  color: white;
  margin-bottom: 10px;
}

table{
  width:100%;
  table-layout: fixed;
  color: white;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }

 .tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

.eventList ul:hover, a.active {
  font-size: 20px;
  border-color: #EFB758;
  font-style: oblique;
  color: #183A5A;
  background-color: #EFB758;
}

.eventList a {
  display: block;
  color: white;
  background-color: #183A5A;
  text-decoration: none;
  border-top: 1px solid #E2DBC9;
  border-bottom: 1px solid #E2DBC9;
  padding: 8px 6px 10px;
  outline: 0;
}

.eventList h2 > a {
  color: #ffffff;
  font-size: 15px;
  float: right;
  font-weight: normal;
  border-bottom: none;
  padding: 0px;
}

.eventForm {
  color: #ffffff;
  margin-top: 15px;
}

label > strong {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  width: 100px;
  margin-right: 6px;
  font-size: 15px;
}

input, textarea {
  padding: 2px 0 3px 3px;
  width: 400px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  width: 13px;
}

button[type="submit"] {
  background: #EFB758;
  border: none;
  padding: 10px 25px 8px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  margin: 10px 0 0 106px;
}

.errors {
  border: 1px solid red;
  border-radius: 5px;
  margin: 20px 0 35px 0;
  width: 513px;
  color: white;
}

.errors h3 {
  background: red;
  color: white;
  padding: 10px;
  font-size: 15px;
}

.errors ul li {
  list-style-type: none;
  margin: 0;
  padding: 8px 0 8px 10px;
  border-top: solid 1px red;
  font-size: 12px;
  font-weight: 0.9;
}

button.delete {
  background-color: #183A5A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button.delete:hover {
  color: rgb(34, 81, 126);
  background-color: #183A5A;
}

button.menu {
  align-self: center;
  background-color: rgb(31, 63, 94);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}

button.menu:hover {
  color: #fcfcfc;
  background-color: #EFB758;
}

h2 a {
  color: #236fff;
  font-size: 15px;
  font-weight: normal;
  margin: 3px 12px 0 12px;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

.form-actions a {
  color: #236fff;
  font-size: 15px;
  margin: 3px 12px 0 12px;
  text-decoration: none;
}

.form-actions a:hover {
  text-decoration: underline;
}

input.search {
  width: 92%;
  margin: 15px 2px;
  padding: 4px 0 6px 6px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contactBody{
  background-color: #EFB758;
  background-size: cover;
  background-attachment: fixed;
  height:700px;

}
.form {
  background: #EBEBEB;
  text-align: center; 
  border-radius: 10px;  
  width: 45%; 
  height: 800px;
  margin: 30px auto 0 auto;
  padding: 10px 10px;  
  animation: bounce 2.5s infinite;
}
.name { 
  background-color: #EFB758;
  border-bottom: 5px solid #EFB758;
  color: white;
  width:300px;
}

::-webkit-input-placeholder{
    color: white;
    font-size: 15px;
}
.name:hover{
  background-color: #EFB758;
  border-bottom: 5px solid #EFB758;
  height:30px;
  width:400px;
}
.message {   
  background-color: rgb(230, 108, 15);
  border-bottom: 5px solid rgb(195, 35, 17);
  overflow: hidden;
  height: 100px;  
  width:300px;
}

.message:hover{
  background-color: #EFB758;
  border-bottom: 5px solid #EFB758;
  height: 100px;
  width:370px;
}
.submit{
  border-radius:5px;
  padding:10px;
  background-color: #2DD7BB;  
  border: none;
  border-bottom: 5px solid #183A5A; 
  transform: translateY(-10px); 

}

.submit:hover{
  border-bottom: 5px solid #183A5A;  
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
}

.entry{
  display: block;
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease 0s;
  box-shadow: 0px 0px 25px 2px #AAA;  
}
.submit{
  border-radius:5px;
  padding:10px;
  width:150px;
  color: white;
  background-color: #EE78D1;  
  border: none;
  border-bottom: 5px solid #CB64B2; 
  margin-top: 150px; 
}

@keyframes bounce{
  0%{
    
  }
  50%{
    transform: translate(0, 8px);
  }

}
@keyframes shadow{
  0%{
    
  }
  50%{
    opacity: 0.8;
    width: 50%;
  }
}

.container {
  display: block;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 60px;
  height: 25px;
  width: 25px;
  background-color: rgb(194, 184, 166);
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #EFB758;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.containerG {
  display: block;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.containerG input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmarkG {
  position: absolute;
  top: 0;
  left: 60px;
  height: 25px;
  width: 25px;
  background-color: rgb(194, 184, 166);
}

.containerG:hover input ~ .checkmark {
  background-color: #ccc;
}

.containerG input:checked ~ .checkmark {
  background-color: #EFB758;
}

.checkmarkG:after {
  content: "";
  position: absolute;
  display: none;
}

.containerG input:checked ~ .checkmark:after {
  display: block;
}

.containerG .checkmarkG:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}